{% extends "main/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/index.css' %}">
{% endblock %}

{% block content %}
<h1>Visual Tensorflow</h1>
<div>
    <h3>Datasets</h3>
    <ul>
        {% for dataset in datasets %}
        <li><a href="#">{{dataset.name}}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    <h3>Models</h3>
    <ul>
        {% for model in models %}
        <a href="model/{{model.id}}/"><li>{{model.name}}</li></a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
