{% extends "main/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/model_details.css' %}">
{% endblock %}

{% block content %}
<h1>{{model.name}}</h1>
<div class="content">
    <table>
        <tr>
            <th>Layer name</th>
            <th>Input shape</th>
            <th>Output shape</th>
            <th>Parameters</th>
        </tr>
        {% for layer in model.layers %}
        <tr>
            <td>{{layer.name}}</td>
            <td>{{layer.input_shape}}</td>
            <td>{{layer.output_shape}}</td>
            <td>{{layer.params}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="train/">Train</a>
</div>
{% endblock %}